<%= form_for :session, url: session_path do |form| %>
<style media="screen">
  .panel-heading,
  .panel-footer{
    background-color: #795548;
    color: #4CAF50;
  }
  .col-md-4{
    padding: 50px;
  }
  .btn-success,
  .btn{
    background-color: #4CAF50;
    /*width: 200px;*/
    /*background-color: black;*/
  }
  .translation_missing{
    padding: 20px;
    color: #4CAF50;
  }
  .form-control{
    padding: 20px;
  }
  .col-md-4{
    display: inline-block;
    width: 50%;
  }
</style>
<div class="container">
    <div class="row">

        <div class="col-md-4">

            <div class="panel panel-default">
                <div style="background-color: #795548;"class="panel-heading"> <strong class="">Login</strong>

                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-9">
                                <%= form.email_field :email, type: 'email', class: "form-control", placeholder: 'Email', required: ''%>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-9">
                                <%= form.password_field :password, class: "form-control", placeholder: 'Password', required: ''%>
                            </div>
                        </div>

                        <div class="form-group last">
                            <div class="col-sm-offset-2 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">Login</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="panel-footer">Forgotten password?
                <%= link_to t("Reset here"), new_password_path %>
                </div>

            </div>

        </div>
        <div class="col-md-4">
          <p>
            Lorem ipsum dolor <strong>the historic election of 2016</strong> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>


    </div>
    <div class="row">
      <div class="col-md-4">
          <h1>rock the vote</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

      </div>

    </div>
</div>
<% end %>
