<%= form_for :session, url: session_path do |form| %>
<!-- <style media="screen">
  .panel-heading,
  .panel-footer{
    background-color: #795548;
    color: #4CAF50;
  }
  .col-md-4{
    padding: 50px;
  }
  .btn-success,
  .btn{
    background-color: #4CAF50;
  }
  .translation_missing{
    padding: 20px;
    color: #4CAF50;
  }
  .form-control{
    padding: 20px;
  }
  .col-md-4{
    display: inline-block;
    width: 50%;
  }
</style> -->
<div class="container">
    <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Login</strong>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-9">
                                <%= form.email_field :email, type: 'email', class: "form-control", placeholder: 'Email', required: ''%>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-9">
                                <%= form.password_field :password, class: "form-control", placeholder: 'Password', required: ''%>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-2 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">Login</button>
                            </div>
                        </div>
                    </form>
                    <!-- LEAVE this here -->
                <!-- <div class="panel-footer">Forgotten password?
                <%= link_to t("Reset here"), new_password_path %> -->
                </div>
            </div>
        </div>
<% end %>
