<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello,</h1>
    <p> Thanks for being part of the election process. The results for "<%= @election.title%>" are now posted. Please sign on to view them. </p>
  </body>
</html>