<head>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">

<div class="heading">
<p><strong>Welcome!</strong></p>
</div>
        <div class="content-main">
          <p>
              Hello user and welcome to <strong> Opine</strong>! Opine is a Democratic election platform designed with clubs in mind.  Opine is designed to simplify university elections by streamlining every step of the process.
            <br>
            <br> Getting started is simple. Check out the instructions below and you'll be using Opine to stage elections in no time!
          </p>
        </div>
        <br>

      <div class="heading">
        <p>How To:<p>
      </div>
      <div class="content-secondary">
        <p>
          <strong>1:</strong> Sign up!  <br>
          <strong>2:</strong> Create an Election. <br>
          <strong>3:</strong> Add some positions to your new election. <br>
          <strong>4:</strong> Invite your club! (now your friends can nominate themselves!)<br>
          <strong>5:</strong> Vote!
        </p>
    </div>
  </div>
</div>
</body>
