<style media="screen">
  .col-md-4{
    padding: 50px;
  }
  .col-md-4{
    display: inline-block;
    width: 50%;
  }
</style>
<div class="container">
    <div class="row">
      <h1>Start of the election app!</h1>
    <div class="row"></div>
</div>