
<div class="container">
    <div class="row">

<header class="heading">
<h1>Welcome!</h1>
</header>
        <div class="content-main">
          <p>
            Hello user and welcome to <strong> Opine</strong>! Opine is a Democratic election platform designed with clubs in mind.  We hope you enjoy using Opine as much as we enjoyed creating it!
            <br>
            <br> Getting started is simple! Just check out the instructions below and you'll be using Opine to stage elections in no time!
          </p>
        </div>

        <br>

        <div class="content-secondary">

      <header class="heading">
        <h1>How To:</h1>
      </header>
      
        <p>
          Step 1: Sign up!  <br>
          Step 2: Create an Election. <br>
          Step 3: Add some positions to your new election. <br>
          Step 4: Invite your club! (now your friends can nominate themselves!)<br>
          Step 5: Vote!
        </p>
    </div>
  </div>
</div>
