<h1>Elections</h1>


<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>Title</th>
      <th>Description</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @elections.each do |election| %>
      <tr class="active">
        <td><%=election.title%></td>
        <td><%=election.description%></td>
        <td><%= link_to 'Show', election %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Election', new_election_path %>
