<h1>Users</h1>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>Uid</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="active">
        <td><%=user.id%></td>
        <td><%= user.email%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add users', add_users_to_election_path(params[:user_id]) %>
