<div class="page-header"><h1>Create Election</h1></div>
<form role="form">
  <div class="form-group">
    <label for="electionTitle">Election Title</label>
    <input type="text" id="electionTitle" name="electionTitle" class="form-control" />
  </div>
  <div class="form-group">
    <label for="electionDescription">Election Description</label>
    <input type="text" id="electionDescription" name="electionDescription" class="form-control" />
  </div>

  <input type="submit" value="Submit Election" />
  <input type="button" value="Cancel" />
</form>
